<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<title>練習踩地雷</title>
<!-- angularJS -->
<script src="https://cdn.staticfile.org/angular.js/1.4.6/angular.min.js"></script>
<!-- Jquery3.3.1 -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- 新 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<script type="text/javascript" src="bombs.js"></script>
<style>
.button_style, td {
	width: 26px;
	height: 26px;
	margin-bottom: 0;
	padding: 0;
}

.button_div {
	background-color: silver;
	height: 22px;
}

.button_div_open {
	height: 22px;
	background: white;
}

.button_div_banner {
	height: 22px;
	background: green;
}

.button_div_bomb {
	height: 22px;
	background: red;
}

.table_center {
	margin: auto;
}
</style>
</head>

<!-- 禁止滑鼠右鍵、選取功能 onmouseover="window.status='';return true;" ondragstart="window.event.returnValue=false" oncontextmenu="window.event.returnValue=false" onselectstart="event.returnValue=false" -->
<body data-ng-app="myApp" data-ng-controller="controller">
	<div onmouseover="window.status='';return true;" ondragstart="window.event.returnValue=false" oncontextmenu="window.event.returnValue=false" onselectstart="event.returnValue=false" class="container">
		<!-- 標題列，但是無法直接開啟檔案看結果，必須從localhost訪問才行 -->
		<div data-ng-include="'common/header.html'"></div>
		<!-- 踩地雷 -->
		<div class="row clearfix">
			<div class="col-md-3">
				<!-- 按鈕下拉選單 -->
				<div class="container">
					<div class="alert alert-secondary">
						<select class="custom-select" id="chooseDifficulty" data-ng-model="chooseDifficulty">
							<option value="">請選擇</option>
							<option value="1">高級</option>
							<option value="2">中級</option>
							<option value="3">初級</option>
							<option value="4">自訂</option>
						</select>
					</div>
				</div>
				<div class="container">
					<div data-ng-show="chooseDifficulty==4">
						<div class="input-group">
							<div class="input-group-prepend">
								<samp class="input-group-text">X軸數量 </samp>
							</div>
							<input class="form-control" id="x" data-ng-model="userIn.x" type="text" value="{{userIn.x}}" title="x">
						</div>
						<div class="input-group">
							<div class="input-group-prepend">
								<samp class="input-group-text">Y軸數量</samp>
							</div>
							<input class="form-control" id="y" data-ng-model="userIn.y" type="text" value="{{userIn.y}}" title="y">
						</div>
						<div class="input-group">
							<div class="input-group-prepend">
								<samp class="input-group-text">炸彈數量</samp>
							</div>
							<input class="form-control" id="bombNb" data-ng-model="userIn.bombAllNb" type="text" value="{{userIn.bombAllNb}}" title="y">
						</div>
					</div>
				</div>
				<div class="container">
					<div data-ng-if="arrayLsLs">
						<div class="alert alert-secondary" role="alert">
							<samp>經過秒數</samp>
							<samp id="gameTime" data-ng-model="parameter.gameTime">{{parameter.gameTime}}</samp>
						</div>
						<div class="alert alert-secondary" role="alert">
							<samp>剩餘炸彈</samp>
							<samp id="gameTime" data-ng-model="parameter.remainBombNb">{{parameter.remainBombNb}}</samp>
						</div>
					</div>
					<button class="btn btn-primary" type="submit" data-ng-click="gameStart(userIn.x,userIn.y,userIn.bombAllNb,chooseDifficulty)" data-ng-disabled="!chooseDifficulty">遊戲開始</button>
					<button class="btn btn-primary" type="submit" data-ng-click="gameStart(userIn.x,userIn.y,userIn.bombAllNb,0)" data-ng-disabled="!chooseDifficulty">重新選擇</button>
				</div>
			</div>
			<div class="col-md-9">
				<div class="row justify-content-center">
					<table data-ng-right-click="">
						<tr data-ng-repeat="row in arrayLsLs track by $index">
							<td data-ng-repeat="cell in row track by $index">
								<!--  <button class="button_style" type="button" data-ng-right-click="rightClick($parent.$index ,$index)" data-ng-click="leftClick($parent.$index ,$index)">-->
								<button class="button_style" type="button" data-ng-click="leftClick($parent.$index, $index)" data-ng-right-click="rightClick($parent.$index ,$index)">
									<!-- 按下按鈕 && 炸彈計算數不為0 -->
									<div data-ng-if="cell.open == true && cell.bombNb != 0 " data-ng-class="{button_div_open : !cell.isbomb, button_div_bomb : cell.isbomb}">{{cell.bombNb}}</div>
									<!-- 按下按鈕 && 炸彈計算數為0 -->
									<div data-ng-if="cell.open == true && cell.bombNb == 0" class="button_div_open">&nbsp;</div>
									<!-- 未按下按鈕===> 插旗判斷顏色-->
									<div data-ng-if="cell.open == false " data-ng-class="{button_div : !cell.banner, button_div_banner : cell.banner}">&nbsp;</div>
								</button>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
		<br>
		<br>
		<br>
		<br>
		<br>
		<div class="dropdown-divider"></div>
	</div>
	<div></div>
	<div class="fixed-bottom">
		<div class="container">
			<samp>為了遊戲體驗，將滑鼠的選取功能禁止(這邊可以按右鍵)</samp>
			<br>
			<samp>資料參考:http://mirlab.org/jang/books/javascript/webContentProtection.asp?title=11-2%20%BA%F4%AD%B6%A4%BA%AEe%ABO%C5%40</samp>
		</div>
	</div>
</body>
</html>