<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<title>練習踩地雷</title>
<script src="https://cdn.staticfile.org/angular.js/1.4.6/angular.min.js"></script>
<script type="text/javascript" src="index.js"></script>
<style>
.button_style {
	width: 30px;
	height: 30px;
	margin-bottom: 0;
	padding: 0;
}

.button_div {
	height: 26px;
}

.button_div_open {
	height: 26px;
	background: white;
}

.button_div_banner {
	height: 26px;
	background: green;
}

.button_div_bomb {
	height: 26px;
	background: red;
}
</style>
</head>

<body data-ng-app="myApp" data-ng-controller="controller">
	<div>
		<samp>X軸數量</samp>
		<input id="x" data-ng-model="userIn.x" type="text" value="{{userIn.x}}" title="x">
	</div>
	<div>
		<samp>Y軸數量</samp>
		<input id="y" data-ng-model="userIn.y" type="text" value="{{userIn.y}}" title="y">
	</div>
	<div>
		<samp>炸彈數量</samp>
		<input id="bombNb" data-ng-model="userIn.bombAllNb" type="text" value="{{ userIn.bombAllNb}}" title="y">
	</div>
	<br>
	<br>
	<div data-ng-if="arrayLsLs">
		經過秒數
		<samp id="gameTime" data-ng-model="gameTime">{{gameTime}}</samp>
		剩餘炸彈
		<samp id="gameTime" data-ng-model="remainBombNb">{{remainBombNb}}</samp>
	</div>
	<button type="submit" data-ng-click="gameStart(userIn.x,userIn.y,userIn.bombAllNb)">開始</button>
	<div data-ng-repeat="row in arrayLsLs track by $index">
		<button class="button_style" type="button" data-ng-right-click="rightClick($parent.$index ,$index,remainBombNb)" data-ng-click="leftClick($parent.$index ,$index)" data-ng-repeat="cell in row track by $index">

			<!-- 按下按鈕 && 炸彈計算數不為0 ===> 判斷是否為炸彈 -->
			<div data-ng-if="cell.open == true && cell.bombNb != 0 " data-ng-class="{button_div_open : !cell.isbomb, button_div_bomb : cell.isbomb}">{{cell.bombNb}}</div>
			<!-- 按下按鈕 && 炸彈計算數為0 -->
			<div data-ng-if="cell.open == true && cell.bombNb == 0" class="button_div_open">&nbsp;</div>
			<!-- 未按下按鈕===> 插旗判斷顏色-->
			<div data-ng-if="cell.open == false " data-ng-class="{button_div : !cell.banner, button_div_banner : cell.banner}">&nbsp;</div>



			<!-- 按下按鈕 && 沒有插旗 && 炸彈計算數不為0 
			<div data-ng-if="cell.open == true && cell.bombNb != 0" class="button_div_open">{{cell.bombNb}}</div>-->
			<!-- 未按下按鈕 && 有插旗 
			<div data-ng-if="cell.open == false && cell.banner == true" class="button_div_banner">&nbsp;</div>-->

		</button>
	</div>
</body>
</html>